<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.verso.cordova.spotifyplugin"
    version="0.1">
    <name>SpotifyPlugin</name>
    <description>SpotifyPlugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/client.js" name="SpotifyPlugin">
        <clobbers target="SpotifyPlugin" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpotifyPlugin" >
                <param name="android-package" value="SpotifyPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/SpotifyPlugin.java" target-dir="src/" />
    </platform>
</plugin>